

.p-2
{
    margin-top: 100px;
}

.navbar
{
    background-color: #5bc0de;
    color: white;
    
}

.img-star
{
    max-width: 50px;
    max-height: 50px;
    opacity: 1;
   
}

.user-review
{
    padding: 20px;
    margin-top: 20px;
    border-bottom: 3px solid #5bc0de;
    
}
.user-review-review
{
    min-width: 800px;
}

.user-review-rating
{
    border-left: 3px solid whitesmoke;
    font-size: 20px;
    font-weight: bold;
}
.user-review-name
{
    border-right: 3px solid whitesmoke;
}

.divider
{
    background-color: #5bc0de;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 45px;
}



.button-review
{
    background:url(/reviewButton.png);
    max-width: 200px;
    min-height: 50px;
    margin-top: 30px;
}
.button-review:hover
{
border: 5px solid #5bc0de;
border-radius: 10px;
}
.dvd-title
{
    
}

.title
{
    font-size: 12px;
    align-self: start;
}
.img-star:hover
{
    opacity: 1;
}

.container
{
    margin-top: 50px;


}

.img-container
{
    min-width: 300px;
    padding: 10px;
    text-align: center;
}

.img-dvd
{
    border: 4px solid whitesmoke;
    border-radius: 10px;
}
.desc-container
{
    min-width: 300px;
    padding: 10px;
    text-align: center;
}

.form-login
{
    padding: 20px;
    border-left: 2px solid #5bc0de;
}

.label-login
{
    font-size: 20px;
    color: #5bc0de;
    font-weight: bold;
    
}